<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container-fluid row justify-content-center">
  <div class="p1 mx-auto">
    <img *ngIf="herop1" src="{{ herop1.images.sm }}">
  </div>
  <button class="start" routerLink="/game" [disabled]="!showPlayButton">
    START GAME
  </button>
  <div class="p2 mx-auto">
    <img *ngIf="herop2" src="{{ herop2.images.sm }}">
  </div>
</div>

<div class="container-fluid row justify-content-center">
  <div class="imgHeroes" *ngFor="let hero of heroes; let i = index">
    <a *ngIf="i < 100">
      <img (click)="selectHero(hero)" class="imgHero" src="{{ hero.images.xs }}" alt="images of heroes">
    </a>
  </div>
</div>