<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


<div class="p1">
  <img src="{{ hero.images.sm }}">
</div>
<div class="p2">
  <img src="{{ hero2.images.sm }}">
</div>
<div class="row">
  <div class="col-12 imgHeroes" *ngFor="let hero of heroes; let i = index">
    <a href="#" *ngIf="i < 20">
      <img (click)="selectHero(hero)" class="imgHero" src="{{ hero.images.xs }}" alt="images of heroes">
    </a>
  </div>
</div>