/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("/assets/back.gif");
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    min-height: 100vh;
}